EXAMPLE 3:-
list example with particular index

In [0]:
lst1 = [1,2,3,4,5,6,7]
for x in lst1:
  print(x,end= " ")
  
print();
print(lst1[4]);
print(lst1[3:7]);
print(lst1[0:3]);
print(lst1[:3]);
print(lst1[:7]);

1 2 3 4 5 6 7
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

EXAMPLE 4 :-

In [0]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
for x in lst1:
  print(x,end= " ")
  
print();
print(lst1[1:1]);
print(lst1[2:-2]);
print(lst1[::2]);
print(lst1[::4]);
print(lst1[::-2]);
print(lst1[-1]);
print(lst1[-2]);

1 2 3 4 5 6 7 8 9 10
[]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 5, 9]
[10, 8, 6, 4, 2]
10
9

##list method

In [0]:
lst1 = ["SRIKAR","UMA","NETHRA","SRIDHAR","HITESH","AKSHAT","YAGNYA"];
print(lst1);
lst1[2] = 15;
print(lst1);
del lst1[3];
print(lst1);
lst1[1]= "GITAM";
print(lst1);
lst2 = [1,2,3];
print(lst2);
print(lst1+lst2);

['SRIKAR', 'UMA', 'NETHRA', 'SRIDHAR', 'HITESH', 'AKSHAT', 'YAGNYA']
['SRIKAR', 'UMA', 15, 'SRIDHAR', 'HITESH', 'AKSHAT', 'YAGNYA']
['SRIKAR', 'UMA', 15, 'HITESH', 'AKSHAT', 'YAGNYA']
['SRIKAR', 'GITAM', 15, 'HITESH', 'AKSHAT', 'YAGNYA']
[1, 2, 3]
['SRIKAR', 'GITAM', 15, 'HITESH', 'AKSHAT', 'YAGNYA', 1, 2, 3]

##list method 
###append(obj) 

this method appends a passed object into a existing list 

####count(obj)

the method returns the count

In [0]:
lst1 = [1,2,3,4,5];
print(lst1);
del lst1[2];
print(lst1);
#lisit(4)=15
print(len(lst1)); #used to find the len of the length of list
lst1.append = (15);
lst1.append = (150);
lst1.append = (1);
lst1.append = (3);
lst1.append = (1);
print(lst1);
print(lst1.count(1));
print(lst1.count(3));

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4

AttributeError: ignored

#List Methods

##INDEX(obj)


it returns the index of passed object first occurence fromthe left side

In [0]:
lst1 = ["GITAM","RAPTOR","PYTHON",1,5,"PYTHON","PYTHON"]
print(lst1)
lst1.index("PYTHON")#Finding the index of object in the list 
lst1.index(1)
print(len(lst1))
lst1.insert(2,2019)
print(lst1)
print(len(lst1))
lst1.insert(4,2020)
print(lst1)

['GITAM', 'RAPTOR', 'PYTHON', 1, 5, 'PYTHON', 'PYTHON']
7
['GITAM', 'RAPTOR', 2019, 'PYTHON', 1, 5, 'PYTHON', 'PYTHON']
8
['GITAM', 'RAPTOR', 2019, 'PYTHON', 2020, 1, 5, 'PYTHON', 'PYTHON']

##List Methods
###Remove(obj)

the remove method removes the passed object from the first occurence from the  left direction 

###Revese(obj)

The reverse method reverses object in the list

In [0]:
lst1 = ["GITAM","RAPTOR","PYTHON",1,5,"PYTHON","PYTHON"]
print(lst1)
lst1.remove("PYTHON")
print(lst1)
lst1.remove("PYTHON")
print(lst1)

lst1.reverse()
print(lst1)

['GITAM', 'RAPTOR', 'PYTHON', 1, 5, 'PYTHON', 'PYTHON']
['GITAM', 'RAPTOR', 1, 5, 'PYTHON', 'PYTHON']
['GITAM', 'RAPTOR', 1, 5, 'PYTHON']
['PYTHON', 5, 1, 'RAPTOR', 'GITAM']

#BINARYSEARCH:-

In [0]:

def BinarySearch(a, x): 
    i = bisect_left(a, x) 
    if i: 
        return (i-1) 
    else: 
        return -1
   
a  = [1, 2, 4, 4, 8] 
x = int(7) 
res = BinarySearch(a, x) 
if res == -1: 
    print("No value smaller than ", x) 
else: 
    print("Largest value smaller than ", x, " is at index ", res)

Largest value smaller than  7  is at index  3

#DATASTRUCTURES

There are 3 stages:-

1.**Searching the data :** They are two types of search

1.**Linearsearch:-*  2. **Binarysearch:-**

----->linear search also can be applied on unsorted list 


--->unique list ---> all times in the list appears only for once


---> Duplicate list :- --> Items in the list some time appears more than once

In [0]:
def linearsearch(a,tarItem):
  flag=0;
  for i in range(len(a)):
    if a[i] == tarItem:
      flag = i;
      break
  if(flag!=0):
    print("Target Item is Found")
  else:
    print("Target Item is not Found") 
a=[16,2,12,6,9,7,1]
linearsearch(a,1)

Target Item is Found

###Linearsearch Examples 
####Example:-

**input **:-   List

**output** :-  indexes of target item 

TEST CASES :-

[1,5,9,6,5,15,12,5],tar = 5 --------147

In [0]:
def linearExample1(a,tarItem):
  for i in range(len(a)):
    if a[i] == tarItem:
      print(i,end = " ")
      
a=[1,5,9,6,5,15,12,5]
linearExample1(a,5)

1 4 7

####Linear Search Example 2

INPUT : list 

OUTPUT :  a sequence of characters 

TEST CASES :
[1,5,9,6,5,15,12,5],tar=5 ------

In [0]:
def linearExample2(a,tarItem):
  for i in range(len(a)):
    if a[i] == tarItem:
      j = 0
      while j!=i+1:
        print("!",end = " ")
        j = j + 1
      print(end = " ")
      
a=[1,5,9,6,5,15,12,5]
linearExample2(a,5)

! !  ! ! ! ! !  ! ! ! ! ! ! ! !

##EXAMPLE 3 :- 

**INPUT** :- List 

**OUTPUT** :-  as per the given 

--->A list item should be perfect mulitple of 3&5 

---> sum of all the list items which is perfect multiple of 3&5

In [0]:
def linearExample3(a):
  sum=0
  for i in range(len(a)):
    if a[i]%3==0 and a[i]%5==0:
      sum = sum + a[i];
      
  return sum
    
a=[15,12,2,9,18,36,45]
print(linearExample3(a))

60

#LinearSearch

##INPUT :-   List 

##OUTPUT:- Formatted Output

###TEST CASES:- 

[1,2,3,4,5]----- 1 3 8 1 5 5

In [0]:
def linearFormattedOutput(a):
  for i in range(len(a)):
    if i==0 or i==(len(a)-1):
      print(a[i],end= " ");
    else:
        print(a[i-1]*a[i+1],end = " ")
        
a= [1,2,3,4,5]
linearFormattedOutput(a);

1 3 8 15 5

##Linear Search

###INPUT :- List 

###OUTPUT:- Formatted Output

Test cases :-

[1,6,9,4,16,19,22]     ----    1 9 19 22


**First  and last items to be printed as it is 

*for the middle items need to be check both sides of the numbers is even or not , if it is even then print that item otherwise skip that item