#**Binarysearch Algorithm :-**

can be applied only on sorted list 
can be applied only on Unique list

In [0]:
def binarySearch(a,lindex,rindex,tarItem):
  while  lindex <= rindex:
    mindex = lindex + (rindex - lindex)//2;
    if a[mindex] == tarItem:
      return mindex
    if a[mindex] > tarItem:
      rindex = mindex - 1
    else:
        lindex = mindex +1
  return -1
list1 = [1,4,9,15,25,45,57,88,98]
res = binarySearch(list1,0,8,98)
if res != -1:
  print("Item is found")
else:
    print("Item is not found")

Item is found

##Bubble sort:-

It compares the adj items if the first item is greater  

than the second item there would required of swap the items 

The complex - n * n

In [0]:
def Bubblesort(a):
  for i in range(len(a)-1):
    for j in range(len(a)-1):
      if a[j] > a[j+1]:
        a[j] , a[j+1] = a[j+1] , a[j]
  for i in range(len(a)):
      print(a[i],end=" ")
      
lst1 = [19,1,25,6,18,3]
Bubblesort(lst1)

1 3 6 18 19 25

##Strings in PYTHON

A string is a sequence of characters < br >

the conversion of character to a number is happens with ASCII Number 

ASCII Numbers:- < br >


A - Z  ---------------------------   65 - 90

a - z ------------------------------  97 - 122

0 - 9 ------------------------------ 48 - 57

In [0]:
#Creating a string 
str ="Application"
print(str1)

str1 = 'Application'
print(str1)

str2 = """Application test
         working 
         completed
         list
         strings
         Python"""
print(str2)

Application
Application
Application test
         working
         completed
         list
         strings
         Python

##Searching a String

In [0]:
str = "Application"
print(str)
print("str[0] = ",str[0])
print("str[1] = ",str[1])
print("str[-1] = ",str[-1])
print("str[-3] = ",str[-3])
print("str[1:5] = ",str[1:5])
print("str[:5] = ",str[:5])
print("str[5:-2] = ",str[5:-2])
print("str[::-1] = ",str[::-1])

Application
str[0] =  A
str[1] =  p
str[-1] =  n
str[-3] =  i
str[1:5] =  ppli
str[:5] =  Appli
str[5:-2] =  cati
str[::-1] =  noitacilppA

Identify the  upper case letters

In [0]:
def countUpperCase(str):
  count = 0
  lst = list(str)
  for x in range(len(lst)):
    if ord(lst[x]) >= 65 and ord(lst[x]) <= 90:
      count = count + 1
  return count

print(countUpperCase("Application"))
print(countUpperCase("TeST"))

1
3

Example

print the case

Test cases :

Application1889--1889

Te1520st--1520

In [0]:
def printDigits(str):
  lst = list(str)
  for x in range(0,len(lst)):
    if ord(lst[x]) >= 48 and ord(lst[x]) <= 57:
      print(lst[x],end="")

print(printDigits("Application1889"))
print(printDigits("hc101"))

1889None
101None

Example 2

Add the digits in the given string

Test cases:

Application189--18

te1871st--17

In [8]:
def sumofdigits(str):
  sum=0
  lst = list(str)
  for x in range(len(lst)):
    if ord(lst[x]) >= 48 and ord(lst[x]) <= 57:
      sum = sum + ord(lst[x]) - 48;
      
  return sum
sumofdigits("Applicaton189")

18

Example 3:- 

Add only even digits to sum 

test case :-

Application1889--16

Te1591st--0

Wor7852king --- 10

In [11]:
def Evendigits(str):
  sum=0
  lst = list(str)
  for x in range(len(lst)):
    if ord(lst[x]) >= 48 and ord(lst[x]) <= 57:
      ac = ord(lst[x]) - 48
      if(ac%2==0):
        sum = sum + ac 
  return sum

print(Evendigits("Application1889"))
print(Evendigits("Tel1591st"))
print(Evendigits("Wor7852king"))

16
0
10

#String character conversion

if the input character is upper case character and convert lower case 

if the input character is lower case character and then